.context-menu{
  position: absolute;
  border: 1px solid gray;
  .collection{
    margin: 0;
    width: auto;
    .collection-item{
      color: $bleu_cerp_darker;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      i{
        font-size: inherit;
        vertical-align: middle;
        line-height: 16px;
        margin-right: 3px;
      }
    }
  }
}