.block-response{
  .server-response{
    ul{
      li{

      }
    }
    .pack-status{
      border: 2px solid gray;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 5px;
    }
  }
}

.toast{
  &.toast-success{
    background-color: rgba(91, 132, 153, 1);
  }
  &.toast-error{
    background-color: rgba(206, 63, 87, 0.9);
  }
}