@import "./components/materialize/materialize";
@import "./components/colors";
@import "./components/header";
@import "./components/button";
@import "./components/forms";
@import "./components/serverResponse";
@import "./components/app_loader";
@import "./components/action_loader";
@import "./components/table-presets";
@import "./components/table";
@import "./components/tooltip";
@import "./components/navbar_custom";
@import "./components/pagination_custom";


@import "./components/context_menu";
@import "./components/modal";

body {
  margin: 0;
}

// Historique

#blockHistory {
  .collection {
    display: block;
    max-height: 500px;
    overflow-y: scroll;
    .history-item:nth-child(odd) {
      background: rgba(0, 0, 0, 0.1);
    }
    .history-item {
      &:hover {
        background: rgba(38, 156, 164, 0.85);
      }
      div {
        position: relative;
        p {
          margin: 0;
        }
      }
      &__date {
        text-align: right;
      }
    }
  }
}

.row{
  &--nomgbot{
    margin-bottom: 0;
  }
}

.close-btn{
  margin-bottom: 15px;
}

// Homepage Dashboard

.dashboard {
  &__line {
    display: flex;
    flex-wrap: wrap;
  }
  &__link {
    width: 145px;
    height: 145px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 18px;
    i {
      display: block;
      margin-bottom: 5px;
    }
    text-align: center;
    color: black;
    border-radius: 10px;
    padding: 10px;
    transition: 0.1s linear background-color;
    &:hover {
      background-color: rgba(246, 178, 181, 0.2);
    }
  }
}

// Buttons

.btn {
  &--full-width {
    width: 100%;
    text-align: center;
  }
  &--text-centered {
  }
}

.app__content {
  position: relative;
  display: flex;
  width: 100%;
  min-height: calc(100vh - 64px);
}

// Badges

.badge {
  &--blue {
    background-color: $bleu_cerp !important;
  }
  &--red {
    background-color: $rouge_cerp !important;
  }
}

// App Version span
.app__version {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4px;
  color: white;
  font-weight: lighter;
  text-align: center;
  // Firefox hidden fix
  z-index: 5000;
}

// Switch

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: $bleu_cerp;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #dddddd;
}

// Help Page collapsible
.collapsible-header {
  & > p {
    line-height: 30px;
    vertical-align: middle;
    margin: 0;
    i {
      vertical-align: middle;
    }
  }
}

// terms and conditions
.terms {
  max-height: 65vh;
  overflow-y: auto;
  &__data {
    white-space: pre-line;
    text-align: justify;
  }
}

.page {
  &__title {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: $bleu_cerp;
    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $bleu_cerp;
    }
  }
  &__subtitle {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    color: $bleu_cerp;
  }
}

.flexible{
  display: flex;
  align-items: center;
  &--right{
    justify-content: flex-end;
  }
}

.mg-horizontal-10px{
  margin-right: 10px;
  margin-left: 10px;
}

.dropdown-content {
  height: auto;
  li {
    min-height: auto;
  }
  button {
    border: none;
    width: 100%;
  }
}

.proposal-actions{
  min-height: 55px !important;
}

.proposals-filters{
  .row {
    margin-bottom: 0;
  }
  .input-field{
    & > span{
      display: block;
      font-size: 12px;
      margin-top: -15px;
    }
    margin: 0;
    input, select{
      height: 25px;
      margin: 0;
      padding: 0;
    }
  }
}

/** ACTIONS **/

.action{
  display: flex;
  width: 100%;
  justify-content: space-around;

  li {
    width: 20%;
    text-align: center;
  }
}

@media only screen and (min-width: 700px) {
  .app {
    &__page {
      margin-top: 30px;
      width: 95% !important;
      max-width: 1680px !important;
    }
  }
}

@media only screen and (max-width: 700px) {
  .nav-wrapper {
    ul.right {
      display: none;
    }
  }

  .dashboard {
    .dashboard__line {
      .dashboard__link {
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .dashboard {
    .dashboard__line {
      justify-content: center;
    }
  }
}